body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#wrapper{
  border: 2px solid gray;
  width: 300px;
  border-radius: 5px;
}
#answer{
  padding: 10px;
  margin: 10px;
  width: 250px;
  font-size: 20px;
}
#buttons{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#buttons button{
  width: 70px;
  height: 70px;
  margin: 3px;
  font-weight: 600;
  cursor: pointer;
  font-size: 18px;
}
#buttons button:hover{
  box-shadow: 2px 5px 15px rgba(0,0,0,0.4);
  background-color: rgb(93, 251, 93);
}